@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

[class*="icon-"]:before {
  font-family: 'icomoon';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // line-height: 1;
  text-transform: none;
  speak: none;
}


.icon-arrow--tiny:before {
  content: '\e600';
}

.icon-add-partner:before,
.icon-add-partner--small:before {
  content: '\e604';
}

.icon-alert:before,
.icon-alert--small:before {
  content: '\e605';
}

.icon-arrow:before,
.icon-arrow--small:before {
  content: '\e606';
}

.icon-attention:before,
.icon-attention--small:before {
  content: '\e607';
}

.icon-brochure-feature:before,
.icon-brochure-feature--small:before {
  content: '\e608';
}

.icon-change-password:before,
.icon-change-password--small:before {
  content: '\e609';
}

.icon-channel:before,
.icon-channel--small:before {
  content: '\e60a';
}

.icon-check:before,
.icon-check--small:before {
  content: '\e60b';
}

.icon-close:before,
.icon-close--small:before {
  content: '\e60c';
}

.icon-compabilities:before,
.icon-compabilities--small:before {
  content: '\e60d';
}

.icon-consignment_parts:before,
.icon-consignment_parts--small:before {
  content: '\e60e';
}

.icon-document:before,
.icon-document--small:before {
  content: '\e60f';
}

.icon-dot:before,
.icon-dot--small:before {
  content: '\e610';
}

.icon-dot--tiny:before {
  content: '\e601';
}

.icon-download:before,
.icon-download--small:before {
  content: '\e611';
}

.icon-edit-infos:before,
.icon-edit-infos--small:before {
  content: '\e612';
}

.icon-external-link:before,
.icon-external-link--small:before {
  content: '\e613';
}

.icon-hardware-reference:before,
.icon-hardware-reference--small:before {
  content: '\e614';
}

.icon-history-download:before,
.icon-history-download--small:before {
  content: '\e615';
}

.icon-industry:before,
.icon-industry--small:before {
  content: '\e616';
}

.icon-infopgraphy:before,
.icon-infopgraphy--small:before {
  content: '\e617';
}

.icon-installed_base:before,
.icon-installed_base--small:before {
  content: '\e618';
}

.icon-interragation:before,
.icon-interragation--small:before {
  content: '\e619';
}

.icon-lastest-feature:before,
.icon-lastest-feature--small:before {
  content: '\e61a';
}

.icon-listing:before,
.icon-listing--small:before {
  content: '\e61b';
}

.icon-login-partner:before,
.icon-login-partner--small:before {
  content: '\e61c';
}

.icon-logout:before,
.icon-logout--small:before {
  content: '\e61d';
}

.icon-mail:before,
.icon-mail--small:before {
  content: '\e61e';
}

.icon-mail--tiny:before {
  content: '\e602';
}

.icon-message:before,
.icon-message--small:before {
  content: '\e61f';
}

.icon-myportal:before,
.icon-myportal--small:before {
  content: '\e620';
}

.icon-my-dashboard:before,
.icon-my-dashboard--small:before {
  content: '\e621';
}

.icon-my-evs:before,
.icon-my-evs--small:before {
  content: '\e622';
}

.icon-news:before,
.icon-news--small:before {
  content: '\e623';
}

.icon-newsletter:before,
.icon-newsletter--small:before {
  content: '\e624';
}

.icon-partners:before,
.icon-partners--small:before {
  content: '\e625';
}

.icon-phone:before,
.icon-phone--small:before {
  content: '\e626';
}
.icon-phone--tiny:before {
  content: '\e603';
}

.icon-plus:before,
.icon-plus--small:before {
  content: '\e627';
}

.icon-press-kit:before,
.icon-press-kit--small:before {
  content: '\e628';
}

.icon-press:before,
.icon-press--small:before {
  content: '\e629';
}

.icon-product:before,
.icon-product--small:before {
  content: '\e62a';
}

.icon-resize-disk:before,
.icon-resize-disk--small:before {
  content: '\e62b';
}

.icon-scroll:before,
.icon-scroll--small:before {
  content: '\e62c';
}

.icon-search:before,
.icon-search--small:before {
  content: '\e62d';
}

.icon-send:before,
.icon-send--small:before {
  content: '\e62e';
}

.icon-share:before,
.icon-share--small:before {
  content: '\e62f';
}

.icon-software:before,
.icon-software--small:before {
  content: '\e630';
}

.icon-supplier:before,
.icon-supplier--small:before {
  content: '\e631';
}

.icon-support:before,
.icon-support--small:before {
  content: '\e632';
}

.icon-technical-manuals:before,
.icon-technical-manuals--small:before {
  content: '\e633';
}

.icon-technicals-specs:before,
.icon-technicals-specs--small:before {
  content: '\e634';
}

.icon-technology:before,
.icon-technology--small:before {
  content: '\e635';
}

.icon-tickets:before,
.icon-tickets--small:before {
  content: '\e636';
}

.icon-tools:before,
.icon-tools--small:before {
  content: '\e637';
}

.icon-training:before,
.icon-training--small:before {
  content: '\e638';
}

.icon-tutorial:before,
.icon-tutorial--small:before {
  content: '\e639';
}

.icon-user-manuals:before,
.icon-user-manuals--small:before {
  content: '\e63a';
}

.icon-validated:before,
.icon-validated--small:before {
  content: '\e63b';
}

.icon-video:before,
.icon-video--small:before {
  content: '\e63c';
}

.icon-visioshapes:before,
.icon-visioshapes--small:before {
  content: '\e63d';
}

.icon-add-partner--large:before {
  content: '\e63e';
}

.icon-alert--large:before {
  content: '\e63f';
}

.icon-arrow--large:before {
  content: '\e640';
}

.icon-attention--large:before {
  content: '\e641';
}

.icon-brochure-feature--large:before {
  content: '\e642';
}

.icon-change-password--large:before {
  content: '\e643';
}

.icon-channel--large:before {
  content: '\e644';
}

.icon-check--large:before {
  content: '\e645';
}

.icon-close--large:before {
  content: '\e646';
}

.icon-compabilities--large:before {
  content: '\e647';
}

.icon-consignment_parts--large:before {
  content: '\e648';
}

.icon-document--large:before {
  content: '\e649';
}

.icon-dot--large:before {
  content: '\e64a';
}

.icon-download--large:before {
  content: '\e64b';
}

.icon-edit-infos--large:before {
  content: '\e64c';
}

.icon-external-link--large:before {
  content: '\e64d';
}

.icon-hardware-reference--large:before {
  content: '\e64e';
}

.icon-history-donwload--large:before {
  content: '\e64f';
}

.icon-industry--large:before {
  content: '\e650';
}

.icon-infopgraphy--large:before {
  content: '\e651';
}

.icon-installed_base--large:before {
  content: '\e652';
}

.icon-interragation--large:before {
  content: '\e653';
}

.icon-lastest-feature--large:before {
  content: '\e654';
}

.icon-listing--large:before {
  content: '\e655';
}

.icon-login-partner--large:before {
  content: '\e656';
}

.icon-logout--large:before {
  content: '\e657';
}

.icon-mail--large:before {
  content: '\e658';
}

.icon-myportal--large:before {
  content: '\e659';
}

.icon-my-dashboard--large:before {
  content: '\e65a';
}

.icon-my-evs--large:before {
  content: '\e65b';
}

.icon-news--large:before {
  content: '\e65c';
}

.icon-newsletter--large:before {
  content: '\e65d';
}

.icon-partners--large:before {
  content: '\e65e';
}

.icon-phone--large:before {
  content: '\e65f';
}

.icon-plus--large:before {
  content: '\e660';
}

.icon-press-kit--large:before {
  content: '\e661';
}

.icon-press--large:before {
  content: '\e662';
}

.icon-product--large:before {
  content: '\e663';
}

.icon-resize-disk--large:before {
  content: '\e664';
}

.icon-scroll--large:before {
  content: '\e665';
}

.icon-search--large:before {
  content: '\e666';
}

.icon-send--large:before {
  content: '\e667';
}

.icon-share--large:before {
  content: '\e668';
}

.icon-software--large:before {
  content: '\e669';
}

.icon-supplier--large:before {
  content: '\e66a';
}

.icon-support--large:before {
  content: '\e66b';
}

.icon-technical-manuals--large:before {
  content: '\e66c';
}

.icon-technicals-specs--large:before {
  content: '\e66d';
}

.icon-technology--large:before {
  content: '\e66e';
}

.icon-tickets--large:before {
  content: '\e66f';
}

.icon-tools--large:before {
  content: '\e670';
}

.icon-training--large:before {
  content: '\e671';
}

.icon-tutorial--large:before {
  content: '\e672';
}

.icon-user-manuals--large:before {
  content: '\e673';
}

.icon-video--large:before {
  content: '\e674';
}

.icon-visioshapes--large:before {
  content: '\e675';
}

